# Mac filesystem
.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea


## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

#Maven
/**/**/target/

#MPS generated java sources and classes
/**/source_gen/*
/**/source_gen.caches/
/**/classes_gen/
/**/test_gen/*
/**/test_gen.caches/*

/**/.mps/workspace.xml